  html, body {
    height: 100%;
    margin: 0;
    /* background: black; */
    
    background: url("https://cdn.glitch.com/7824329b-41c4-4700-a181-183949a4faba%2Fgarden.jpg?v=1594959679397") no-repeat center center fixed; 
    -webkit-background-size: cover;
    
    
    
  
  }
   



  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  canvas {
    border: 1px solid white;
    background-image: linear-gradient(to bottom right, rgba(26,37,11,0.6), rgba(26,37,11,0.8));
    /* background-image: linear-gradient(to bottom right, rgba(55,65,14,0.3), rgba(55,65,14,0.7)); */
  }


#appleimg {
  
  color: yellow;
  
  
  
}
